/*
iComics Website Primary Styles
Tim Oliver
*/

@import url(http://fonts.googleapis.com/css?family=Droid+Sans);

body 
{
	background: #333;
	color: #555;
	font-family: 'Droid Sans', Helvetica, Arial, sans-serif;
	line-height: 160%;
	margin: 0;
	padding: 0;
	overflow-x: hidden !important;
}

img {
	border: 0 none;
}

a {
	color: #3091d5;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h3 {
	margin: 0 0 10px;
	font-size: 19pt;
}

ul {
	margin: 0;
	padding: 0;
}

p {
	margin: 0 0 15px;
}

.container {
	margin: 0 auto;
	position: relative;
	width: 980px !important;
}

header
{
	height: 755px;
	position: relative;
	width: 100%;
	z-index: 0;
	background: #eee; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #ededed 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#ededed)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 0%,#ededed 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 0%,#ededed 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffffff 0%,#ededed 100%); /* IE10+ */
	background: linear-gradient(to bottom, #ffffff 0%,#ededed 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 );
}

@media screen and (-webkit-min-device-pixel-ratio: 2), screen and (max-moz-device-pixel-ratio: 2) 
{
	header
	{
		background: #eee url(../img/HeaderBackground-2x.png);
		background-size: 151px 152px;
	}
}

#splash-art
{
	position: absolute;
	top: 35px;
	left: -100px;
}

#logo
{
	position: absolute;
	top: 300px;
	left: 600px;
}

#app-store-badge
{
	position: absolute;
	top: 550px;
	left: 660px;
}

#app-requirements {
	position: absolute;
	top: 633px;
	left: 649px;
}

#app-social-icons {
	list-style: none;
	position: absolute;
	width: 230px;
	height: 35px;
	top: 650px;
	left: 738px;
	margin-left:-40px;
}

#app-social-icons li {
	float: left;
	margin-right: 40px;
}

#content 
{
	width: 100%;
	position: relative;
	background-color: #fff;
	min-height: 300px; 
	box-shadow: 0 -2px 10px rgba(0,0,0,0.2), 0 4px 10px rgba(0,0,0,0.2);
	z-index: 10;
}

.info-block
{
	width: 980px;
	min-height: 100px;
	position: relative;
	overflow: hidden;
}

.text-block {
	position: absolute;
}

.info-block-alt
{
	width: 980px;
	min-height: 100px;
	position: relative;
	text-shadow: 0 1px 0 #fff;
	overflow: hidden;
	background: #eee; /* Old browsers */
	background: -moz-linear-gradient(left, #ffffff 0%, #efefef 50%, #ffffff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ffffff), color-stop(50%,#efefef), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, #ffffff 0%,#efefef 50%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, #ffffff 0%,#efefef 50%,#ffffff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, #ffffff 0%,#efefef 50%,#ffffff 100%); /* IE10+ */
	background: linear-gradient(to right, #ffffff 0%,#efefef 50%,#ffffff 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 );
}

.info-block-alt .shadow-top
{
	position: absolute;
	width: 982px;
	height: 6px;
	top: 0;
	background: transparent url(../img/LineBreakShadowTop.png) no-repeat;
	z-index: 1000;
}

.info-block-alt .shadow-bottom
{
	position: absolute;
	width: 982px;
	height: 6px;
	bottom: 0;
	background: transparent url(../img/LineBreakShadowBottom.png) no-repeat;
	z-index: 1000;
}

@media screen and (-webkit-min-device-pixel-ratio: 2), 
screen and (max-moz-device-pixel-ratio: 2) 
{
	.info-block-alt .shadow-top
	{
		background: transparent url(../img/LineBreakShadowTop-2x.png) no-repeat;
		background-size: 982px 6px;
	}

	.info-block-alt .shadow-bottom
	{
		background: transparent url(../img/LineBreakShadowBottom-2x.png) no-repeat;
		background-size: 982px 6px;
	}
}

.info-title
{
	margin-bottom: 5px;
}

#intro {
	height: 450px;
}

#intro .text-block
{
	width: 540px;
	top: 100px;
	left: 15px;
}

#iphone-5s 
{
	position: absolute;
	bottom: 0;
	right: 15px;
}

#comics-intro {
	height: 420px;
}

#comics-intro .text-block
{
	width: 500px;
	top: 60px;
	left: 453px;
}

#iphone-5c
{
	position: absolute;
	bottom: 0;
	left: 30px;
}

.comics-list
{
	width: 320px;
	float: left;
	margin-top:10px;
	font-size: 13pt;
}

.formats
{
	width: 180px !important;
}

.comics-list h3
{
	font-weight: normal;
	line-height: 100%;
}

.comics-list li {
	margin-bottom: 5px;
}

.formats-list {
	list-style: none;
	width: 200px;
}

.formats-list li
{
	float: left;
	width: 100px;
}

.downloads-list
{
	list-style: none !important;
	margin: 0;
}

.downloads-list li
{
	float: left;
	width: 155px;
}

#iphone6toggles {
	position: absolute;
	left: 0;
	bottom: 0px;
}

.toggle-text {
	position: absolute;
	font-size: 9pt;
	text-align: center;
	width: 230px;
}

.page-direction {
	left: 20px;
	top: 520px;
}

.zoom-lock {
	left: 742px;
	top: 308px;
	text-align: left;
}

.split-wide-pages {
	left: 578px;
	top: 227px;
}

.page-scrub {
	top: 668px;
	left: 280px;
}

#features-1 {
	height: 720px;
}

#features-1 .text-block
{
	width: 435px;
	top: 45px;
	left: 480px;
}

.features-column
{
	float: left;
	width: 195px;
	margin-right: 25px;
}

#ipod
{
	position: absolute;
	right: 75px;
	bottom: 0;
}

#features-2
{
	height: 395px;
}

#features-2 .text-block	
{
	width: 450px;
	overflow: hidden;
	top: 70px;
	left: 65px;
}

.reading-options-list
{
	list-style: none;
	margin: 0;
	padding:0;
	width: 600px;
}

.reading-options-list li
{
	width: 255px;
	margin-right: 35px;
	margin-bottom: 25px;
	float: left;
	height: 70px;
}

#upcoming-features
{
	text-align: center;
	padding: 40px 0 45px;
	font-size: 12pt;
}

.upcoming-features-list
{
	width: 870px;
	margin: 25px auto 30px;
	position: relative;
	left: 45px;
	height: 135px;
}

.upcoming-features-list li
{
	width: 250px;
	float: left;
	margin-bottom: 15px;
	margin-left: 35px;
	font-size: 12pt;
	text-align: left;
}

footer
{
	color: #bbb;
}

footer a
{
	color: #fff;
}

footer a:hover
{
	color: #ddd;
}

#footer-items
{
	margin: 45px auto 0px;
	height: 295px;
	list-style-type: none;
	position: relative;
	padding-left: 20px;
}

#footer-items li 
{
	width: 290px;
	margin-right: 35px;
	float: left;
	position: relative;
}

#footer-items li.last
{
	margin-right: 0;
}

#footer-items .title 
{
	margin-bottom: 15px;
}

#footer-items:after {
	clear: both;
}

.tweet_list
{
	list-style: none;
	margin: 0;
	padding: 0;
}

.tweets li
{
	width: 275px !important;
	margin-right: 0 !important;
	margin-bottom: 30px;
	min-height: 75px;
}

.tweet_odd, .tweet_even
{
	position: relative;
	margin-bottom: 15px;
}

.tweet_avatar, .tweet_user, .tweet_time, .tweet_text
{
	display: block;
}

.tweet_avatar
{
	position: absolute;
	top:0;
	left: 0;
	width:64px;
	height: 64px;
	
}

.tweet_avatar img 
{
	border-radius: 32px;
	box-shadow: 0 2px 5px #111;
}

.tweet_user
{
	line-height: 100%;
	float:left;
	margin-left:75px;
}

.tweet_time
{
	float:left;
	margin-left:75px;
	font-size:8pt;
	line-height: 100%;
	margin-bottom:5px;
	margin-top:5px;
}

.tweet_text
{
	float: left;
	margin-left: 75px;
	font-size: 9pt;
	line-height: 160%;
}

.credits-text
{
	width: 150px;
	position: absolute;
	left: 130px;
	line-height: 160% !important;
	font-size: 10pt;
}

#tim-social-icons
{
	margin-top: 10px;
}

#tim-social-icons a {
	float:left;
	display: block;
	margin-right:15px;
}

#support-form
{
	position: relative;
	top: -10px;
}

#support-form #loader,
#support-form #success
{
	background-color: rgba(0,0,0,0.75);
	padding: 10px;
	position: absolute;
	top: 50%;
	left: 50%;
	border-radius: 5px;
	padding: 15px 15px 10px 15px;
}

#support-form #loader
{
	margin-top: -55px;
	margin-left: -43px;
}

#support-form #success
{
	margin-top: -70px;
	margin-left: -64px;
}

#support-form input[type="text"],
#support-form input[type="email"],
#support-form textarea
{
	background-color: #222;
	border-radius: 4px;
	color: #888;
	width: 250px;
	padding: 7px 5px;
	font-family: Arial, sans-serif;
	border: 0 none;
	font-size: 10pt;
	margin-bottom: 7px;
}

#support-form textarea
{
	min-height: 100px;
}

#support-form .highlighted
{
	color: #fff !important;
}

#support-form .invalid
{
	box-shadow: 0 0 10px #f00 !important;
}

#support-form input[type="submit"]
{
	background: #4f4f4f; /* Old browsers */
	background: -moz-linear-gradient(top,  #4f4f4f 0%, #303030 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4f4f4f), color-stop(100%,#303030)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #4f4f4f 0%,#303030 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #4f4f4f 0%,#303030 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #4f4f4f 0%,#303030 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #4f4f4f 0%,#303030 100%); /* W3C */
	border-radius: 5px 7px;
	width: 265px;
	color: #ddd;
	text-shadow: 0 -1px 0 #000;
	border: 0 none;
	border-bottom: #111 1px solid;
	padding: 9px 0;
	font-size: 10pt;
}

#support input[type="submit"]:active
{
	background: #2a2a2a;
	box-shadow: inset 0 0 10px #111, 0 1px 0 #555;
}

#social-links
{
	border-top: 1px solid #444;
	box-shadow: 0 -1px 0 #222;
	width: 280px;
	height: 25px;
	margin: 0 auto 30px;
	clear: both;
	padding: 13px 0 0;
	position: relative;
	top: -5px;
}

.twitter-share-button,
.fb-like
{
	max-width: 100px;
	float: left;
	margin-right: 5px;
}

#social-links ul
{
	list-style: none;
}

#social-links ul li
{
	float:left;
	width: 40px;
	margin-right: 5px;
}

#copyright
{
	border-top: 1px solid #333;
	box-shadow: 0 -1px 0 #1a1a1a;
	width: 100%;
	background-color: #111;
	color: #5a5a5a;
	text-align: center;
	font-size: 10pt;
	line-height: 120%;
	padding-top:10px;
	padding-bottom:10px;
}

#copyright a {
	color: #888;
}

.language-flag {
	vertical-align: middle;
	margin-left: 10px;
}